* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

 }

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f7f7f7;
    }

    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 80px;

    }

    form h4 {
        font-weight: 900;
        font-size: 30px;
        color: #7159c1;
    }   
    form{
        margin-top: 100px;
        font-size: 16px;
        padding: 60px;
    }

.form-control {
        font-size: 20px;
        height: 60px;

  
    }

.form-control:focus {
        border-color: #cccccc;
        outline: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
      }

.btn {
        float: right;
        background-color: #7159c1;
        padding: 12px 20px;
        font-weight: 900;
        font-size: 30px;
        color: #fff;
        border-radius: 5%;
 }

 .btn:hover {
    background-color: #ffcc4d;
    color: #7159c1;
 }