*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}
/* barra de menu principal */
.navbar-default{
    background-color: #7159c1;
    text-align: center;
}

 /* elemento que tem o nome "Projeto social" */
 .navbar-default .navbar-brand {
    margin-top: 10px;
    color: #fff;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

 /* item de menu */
 .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
/* menu toggle, apenas para referencia */
.navbar-toggler-icon {
    background-color: #ffcc4d;
}
 /* /menu toggle, apenas para referencia */

 /* mouse over no item de menu */
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
    color: #ffcc4d;
}
.container-home {
    width: 100%;
    min-height: 90vh;
    margin-right: 0;
    background-color: #7159c1;
    /* top: 200px; */
    
    background-repeat: no-repeat;
    background-size: contain;
}
.sobre {
    padding: 0;
} 
.card-homepage {
    margin-top: calc(100% - 80%);
    -webkit-box-shadow: 9px 10px 58px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 58px 3px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 58px 3px rgba(0,0,0,0.75);
}
 .contact {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #eee;
}
.footer {
    width: 100%;
    height: 110px;
    background-color: #7159c1;
    color: #fff;
    font-size: 1rem;
}
.color-icon{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.383);
    padding: 5px;
}
.color-icon:hover {
    color: #ffcc4d;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffcc4d;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 205, 77, 0.431);
}

/* botao home  */
.up {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ffcc4d;
    top: -6.5rem;
    right: 1.5%;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
  }
.up i {
    color: #16162d;
    font-size: 1rem;
    margin: auto;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #7159c1fc;
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(87, 90, 253, 0);
    }
    100% {
        box-shadow: 0 0 0 0 #7159c1fc;
    }
}

/* fim botao home  */

/* style para tela de cadastro  */
.section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 80px;

}

.form-cadastro h4 {
    font-weight: 900;
    font-size: 30px;
    color: #7159c1;
}   
.form-cadastro{
    margin-top: 100px;
    font-size: 16px;
    padding: 60px;
}
.form-control {
    font-size: 20px;
    height: 50px;
}

/* container pagina 404  */
.container-404 {
    font-family: 'Montserrat', sans-serif;
    /* height: calc(100vh - 186px); */
    min-height: 100vh;
    width: 100%;
    color: #1d1d3f;
}
.container-404 h1 {
    font-weight: 900;
    font-size: 18rem;
    margin: 0;
    line-height: 1;
    letter-spacing: 20px;
    color: #412990;
}
.container-404 h2 {
    margin-bottom: 10px;
}
.container-404  p {
    font-size: 1.2rem;
    margin-top: 10px;
}